Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers
HeaderFilterRegex: '(.*/)?CEngine/src/engine/.*'
WarningsAsErrors: ''
FormatStyle: file
